.page-body {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.navbar-width {
  max-width: 42em;
}

.nav .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav .active {
  color: white;
  border-bottom-color: white;
}

.overview {
  max-width: 55em;
}

.popup > * {
  cursor: pointer;
  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.popup:hover > *:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.portfolio-image {
  width: 271px;
  height: 200px;
  object-fit: cover;
}
